:root {
  --key-padding: 2rem;
  --background-body: #ffe8e8;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-body);
}

.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 500px;
  margin: auto;
}

.calculator__display {
  background-color: white;
  height: 10rem;
  grid-column: span 4;
  text-align: right;
  font-size: 4rem;
  padding: 0 1.5rem;
  overflow-x: auto;
  white-space: nowrap;
  margin-bottom: 20px;
}

.calculator__key {
  cursor: pointer;
  padding: var(--key-padding);
  text-align: center;
  font-size: 2rem;
  border-radius: 50%;
  margin: 5px;
}

.calculator__number {
  background-color: rgba(0, 0, 0, 0.1);
}

.calculator__number:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.calculator__symbol {
  background-color: rgba(246, 138, 138, 0.5);
}

.calculator__symbol--clear-all {
  grid-column: 4;
  grid-row: 2;
}

.calculator__symbol--clear-one {
  grid-column: 4;
  grid-row: 3;
}

.calculator__symbol--sum {
  grid-column: 4;
  grid-row: 4;
}

.calculator__symbol--subtract {
  grid-column: 4;
  grid-row: 5;
}

.calculator__symbol--multiplication {
  grid-column: 3;
  grid-row: 5;
}

.calculator__symbol--division {
  grid-column: 2;
  grid-row: 5;
}

.calculator__symbol--dot {
  grid-column: 1;
  grid-row: 6;
}

.calculator__symbol--equal {
  grid-column: span 3;
  background-color: rgba(255, 38, 0, 0.8);
  border-radius: 5%;
}
